In [1]:
import numpy as np
import pandas as pd
from warnings import filterwarnings
filterwarnings('ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import seaborn as sns
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm

In [9]:
# 데이터 
df = pd.read_csv("1_1_SNCT.csv", encoding='cp949')
df.head()
df.shape

,스케줄 id,터미널 코드,Call Year,선박 코드,Call No,접안 일시,출발 일시,선적 작업 수량,양하 작업 수량,Shit 작업 수량,정보 수집일시
0,1166227,SNCT,2020,W302,1,20200102080000,20200102220000,310,280,0,2019-12-09 1:36
1,1166228,SNCT,2020,WCOL,1,20200103220000,20200104200000,670,550,0,2019-12-09 1:36
2,1166277,SNCT,2020,CROD,1,20200101080000,20200101180000,430,370,0,2019-12-09 2:06
3,1166745,SNCT,2020,KTPS,1,20200101120000,20200102070000,370,320,0,2019-12-09 6:06
4,1168927,SNCT,2020,DJVG,1,20200105200000,20200106120000,350,260,0,2019-12-11 0:06

(10488, 11)

In [10]:
# 선박 작업 수량, 정보 수집일시 column 제거
df.drop(['스케줄 id', 'Call Year', 'Shit 작업 수량'],axis=1, inplace=True)
df.head()

,터미널 코드,선박 코드,Call No,접안 일시,출발 일시,선적 작업 수량,양하 작업 수량,정보 수집일시
0,SNCT,W302,1,20200102080000,20200102220000,310,280,2019-12-09 1:36
1,SNCT,WCOL,1,20200103220000,20200104200000,670,550,2019-12-09 1:36
2,SNCT,CROD,1,20200101080000,20200101180000,430,370,2019-12-09 2:06
3,SNCT,KTPS,1,20200101120000,20200102070000,370,320,2019-12-09 6:06
4,SNCT,DJVG,1,20200105200000,20200106120000,350,260,2019-12-11 0:06

In [11]:
# 문자열 전환
df['접안 일시'] = df['접안 일시'].astype(str)
df['출발 일시'] = df['출발 일시'].astype(str)

# 소수점 자리 제거
df['접안 일시'] = df['접안 일시'].str.slice(0,14)
df['출발 일시'] = df['출발 일시'].str.slice(0,14)

# 날짜 형식으로 문자열 수정
df['접안 일시'] = df['접안 일시'].str[0:4]+'-'+ df['접안 일시'].str[4:6]+'-'+df['접안 일시'].str[6:8] +' '+df['접안 일시'].str[8:10]+':'+df['접안 일시'].str[10:12]+':'+ df['접안 일시'].str[12:14]
df['출발 일시'] = df['출발 일시'].str[0:4]+'-'+ df['출발 일시'].str[4:6]+'-'+df['출발 일시'].str[6:8] +' '+df['출발 일시'].str[8:10]+':'+df['출발 일시'].str[10:12]+':'+ df['출발 일시'].str[12:14]

# 날짜 포멧에 맞지 않는 데이터 삭제
df = df[df['접안 일시'].str.len() == 19]
df = df[df['출발 일시'].str.len() == 19]

# 날짜형 데이터형 변환
df['접안 일시'] = pd.to_datetime(df['접안 일시'])
df['출발 일시'] = pd.to_datetime(df['출발 일시'])

df.head()
type(df['접안 일시'][0])

,터미널 코드,선박 코드,Call No,접안 일시,출발 일시,선적 작업 수량,양하 작업 수량,정보 수집일시
0,SNCT,W302,1,2020-01-02 08:00:00,2020-01-02 22:00:00,310,280,2019-12-09 1:36
1,SNCT,WCOL,1,2020-01-03 22:00:00,2020-01-04 20:00:00,670,550,2019-12-09 1:36
2,SNCT,CROD,1,2020-01-01 08:00:00,2020-01-01 18:00:00,430,370,2019-12-09 2:06
3,SNCT,KTPS,1,2020-01-01 12:00:00,2020-01-02 07:00:00,370,320,2019-12-09 6:06
4,SNCT,DJVG,1,2020-01-05 20:00:00,2020-01-06 12:00:00,350,260,2019-12-11 0:06

pandas._libs.tslibs.timestamps.Timestamp

In [13]:
df.shape

(10488, 8)

In [12]:
df.isnull().sum()

터미널 코드      0
선박 코드       0
Call No     0
접안 일시       0
출발 일시       0
선적 작업 수량    0
양하 작업 수량    0
정보 수집일시     0
dtype: int64

In [ ]:
sns.pairplot(df, hue='선박 코드', palette='husl', vars=['선적 작업 수량', '양하 작업 수량', '잔류 시간', '작업치'])
plt.show()